.login-form-child {
  height: 407px;
  width: 305px;
  position: relative;
  background-color: var(--color-gainsboro);
  display: none;
}
.login {
  text-decoration: none;
  position: relative;
  color: inherit;
  cursor: pointer;
  z-index: 1;
}
.login-container,
.login-form {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.login-form {
  width: 305px;
  background-color: var(--color-gainsboro);
  justify-content: flex-end;
  padding: 135px var(--padding-xs);
  box-sizing: border-box;
}
.login-container {
  height: 407px;
  justify-content: flex-start;
}
.sign-in-button-container-child {
  height: 58px;
  width: 131px;
  position: relative;
  border-radius: var(--br-37xl);
  background-color: var(--color-white);
  display: none;
}
.sign-in {
  width: 69px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.sign-in-button-container {
  width: 131px;
  border-radius: var(--br-37xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) 21px;
  box-sizing: border-box;
  z-index: 1;
  margin-top: -235px;
  color: var(--color-black);
}
.login-container-parent {
  height: 407px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  min-width: 355px;
  max-width: 100%;
}
.brand-mark {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  width: 100%;
  height: 100%;
}
.logo {
  text-decoration: none;
  position: absolute;
  top: 17px;
  left: 13px;
  color: inherit;
  display: inline-block;
  width: 36px;
  height: 17px;
  min-width: 36px;
  z-index: 1;
}
.brand-mark-parent {
  height: 55px;
  flex: 1;
  position: relative;
}
.logo-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 59px 0 60px;
}
.menu-dropdown,
.menu-dropdown1,
.navbar,
.submenu-dropdown,
.submenu-dropdown1 {
  position: relative;
  border-radius: var(--br-12xl);
  background-color: var(--color-gainsboro);
}
.menu-dropdown,
.menu-dropdown1,
.navbar {
  align-self: stretch;
  height: 18px;
}
.submenu-dropdown,
.submenu-dropdown1 {
  height: 15px;
}
.submenu-dropdown {
  flex: 1;
}
.submenu-dropdown1 {
  width: 77px;
}
.sub-menu {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7px;
}
.menu-dropdown2 {
  align-self: stretch;
  height: 18px;
  position: relative;
  border-radius: var(--br-12xl);
  background-color: var(--color-gainsboro);
}
.brand,
.menu,
.navigation {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 14px;
}
.brand,
.navigation {
  gap: 10px;
}
.brand {
  align-items: flex-end;
  gap: 27px;
}
.footer-content-child {
  height: 31px;
  width: 70px;
  position: relative;
  border-radius: var(--br-37xl);
  background-color: var(--color-silver);
  display: none;
}
.login1 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-smi);
  font-family: var(--font-inria-sans);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 40px;
  z-index: 1;
}
.footer,
.footer-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-content {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xs) 11px var(--padding-6xs) 19px;
  background-color: var(--color-silver);
  border-radius: var(--br-37xl);
}
.footer-content:hover {
  background-color: #878787;
}
.footer {
  padding: 0 var(--padding-lg);
}
.header {
  align-self: stretch;
  flex-direction: column;
  gap: 58px;
}
.content,
.header,
.wilmerphome-page {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content {
  flex-direction: column;
  padding: 32px 0 0;
  box-sizing: border-box;
  min-width: 176px;
  font-size: 14px;
  color: var(--color-black);
}
.wilmerphome-page {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  gap: 61px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inria-sans);
}
@media screen and (max-width: 600px) {
  .content,
  .login-container-parent,
  .login-form {
    flex: 1;
  }
  .wilmerphome-page {
    gap: 30px;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .login-container-parent {
    min-width: 100%;
  }
  .wilmerphome-page {
    gap: 15px;
  }
}
